@model UCABPagaloTodoWeb.Models.ConfiguracionPagoModel

@{
    ViewData["Title"] = "RealizarPagoConfirmacionNegada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-5">

                    <h2 class="card-title text-center mb-5">RealizarPago</h2>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="card border-0 shadow-lg">
                                    <div class="card-body p-5">
                                        <h2> Usted no está afiliado al Servicio o no posee Deudas</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
